<div class="container mt-5">

    <form name="FormularioEditarPassword" novalidate>

        <div class="card shadow-1">

            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="form-group" show-errors='{ showSuccess: true }'>
                            <label>
                                Nova Senha
                                <b>*</b>
                            </label>
                            <input class="form-control"
                                   type="password"
                                   placeholder="Nova Senha"
                                   name="senha"
                                   uib-tooltip="Nova Senha"
                                   ng-model="senha.NovaSenha"
                                   ng-required="true" />
                            <div class="invalid-feedback"><i class="fas fa-exclamation-circle"></i> Campo obrigatório.</div>
                        </div>

                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="form-group" show-errors='{ showSuccess: true }'>
                            <label>
                                Confirmação de Senha
                                <b>*</b>
                            </label>
                            <input class="form-control"
                                   type="password"
                                   placeholder="Confirmar Senha"
                                   name="confirmacaoSenha"
                                   uib-tooltip="Confirmar Senha"
                                   ng-model="confirmacaoSenha"
                                   ng-required="true"
                                   ng-class="{'is-invalid' : senha.NovaSenha != confirmacaoSenha && confirmacaoSenha.length > 0}" />

                            <div ng-hide="senha.NovaSenha != confirmacaoSenha && confirmacaoSenha.length > 0" class="invalid-feedback">
                                <i class="fas fa-exclamation-circle"></i>
                                Campo obrigatório.
                            </div>

                            <div class="text-danger" ng-show="senha.NovaSenha != confirmacaoSenha && confirmacaoSenha.length > 0">
                                <span>
                                    <small>
                                        <i class="fas fa-exclamation-circle"></i> 
                                        Senhas não conferem.
                                    </small>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-footer">

                <div class="float-right">

                    <button class="btn btn-outline-secondary"
                            type="button"
                            ng-click="voltarPagina()">
                        <i class="fas fa-ban"></i>
                        Cancelar
                    </button>

                    <button class="btn btn-outline-primary"
                            type="button"
                            ng-click="editPassword(senha)">

                        <i class="fas fa-save"></i>
                        Salvar
                    </button>
                </div>
            </div>
        </div>

    </form>

</div>