<div class="modal-demo">

    <div class="modal-header">
        <h5 class="modal-title">
            Edição de senha
        </h5>
    </div>

    <div class="modal-body">

        <form name="edicaoPerfilPassword" novalidate>

            <div class="form-group mt-3" show-errors='{ showSuccess: true }'>
                <label>
                    Senha atual
                    <b> *</b>
                </label>
                <input class="form-control"
                       name="senhaAtual"
                       placeholder="Senha atual"
                       type="password"
                       ng-model="senha.SenhaAtual"
                       uib-tooltip="Senha atual"
                       ng-required="true" />

                <div class="invalid-feedback">
                    <i class="fas fa-exclamation-circle"></i>
                    Campo obrigatório.
                </div>
            </div>

            <div class="form-group mt-3" show-errors='{ showSuccess: true }'>
                <label>
                    Nova senha
                    <b> *</b>
                </label>
                <input class="form-control"
                       name="novaSenha"
                       placeholder="Nova senha"
                       type="password"
                       ng-model="senha.NovaSenha"
                       uib-tooltip="Nova senha"
                       ng-required="true" />
                <div class="invalid-feedback">
                    <i class="fas fa-exclamation-circle"></i>
                    Campo obrigatório.
                </div>
            </div>

            <div class="form-group mt-3" show-errors='{ showSuccess: true }'>
                <label>
                    Confirmação de senha
                    <b> *</b>
                </label>
                <input class="form-control"
                       name="ConfirmacaoSenha"
                       placeholder="Confirmação de senha"
                       type="password"
                       ng-model="confirmacaoSenha"
                       uib-tooltip="Confirmação de senha"
                       ng-required="true" />

                <div class="invalid-feedback" ng-hide="senha.NovaSenha != confirmacaoSenha && confirmacaoSenha.length > 0">
                    <i class="fas fa-exclamation-circle"></i>
                    Campo obrigatório.
                </div>

                <div class="text-danger" ng-show="senha.NovaSenha != confirmacaoSenha && confirmacaoSenha.length > 0">
                    <span>
                        <small>
                            <i class="fas fa-exclamation-circle"></i>
                            Senhas não conferem.
                        </small>
                    </span>
                </div>
            </div>

        </form>
        <div class="modal-footer">

            <div class="float-right">

                <button class="btn btn-outline-secondary"
                        type="button"
                        ng-click="fecharModal()">
                    <i class="fas fa-ban mr-2"></i>
                    Cancelar
                </button>

                <button ng-click="editPassword(senha)"
                        class="btn btn-outline-primary">
                    <i class="fas fa-save mr-2"></i>
                    Salvar
                </button>

            </div>

        </div>
    </div>
</div>
