<div class="container">
    
    <card config="configMetodo"></card>

    <!--<div class="form-group mb-5 mt-5">
        <div class="row">
            <div class="col-10">
                <input type="text" class="form-control fast-search mx-3" ng-model="busca" placeholder="Digite o nome do método">
            </div>
            <div class="col-2">
                <button class="btn btn-outline-primary mx-3" ng-click="openModalMetodo(metodo)">
                    <i class="fas fa-plus mr-2"></i>Adicionar
                </button>
            </div>
        </div>
    </div>


    <div style="height: 460px; overflow: auto;">
        <div class="card m-3 shadow-1" ng-repeat="metodo in metodos | filter: { nome: busca }">
            <div class="card-body pt-2 pb-2">
                <div class="dropdown w-100">
                    <h5 class="font-weight-bold console d-inline-block">
                        <i class="fas fa-hashtag text-darkblue"></i>
                        {{metodo.nome}}: {{metodo.retorno}}
                    </h5>
                    <button type="button" class="btn btn-light float-right" data-toggle="dropdown"><i class="fas fa-ellipsis-v"></i></button>
                    <div class="dropdown-menu dropdown-menu-right text-center">
                        <button type="button" data-toggle="modal" data-target="#modalParametro" ng-click="openModalMetodo(metodo)" class="btn btn-link"><i class="fas fa-edit mr-2"></i> Editar</button><br>
                        <button type="button" ng-click="openModalDelete(metodo)" class="btn btn-link"><i class="fas fa-trash mr-2"></i> Excluir</button>
                    </div>
                </div>
                <div class="mt-3 mb-3">
                    {{metodo.descricao}}
                </div>
            </div>
        </div>
    </div>-->
</div>
