<div class="container">
    <div class="jumbotron w-100 mt-3">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="text-secondary mb-3"><i class="fas fa-ban"></i></h1>
                <h3>Acesso negado</h3>
                <p class="text-secondary">Você não tem permissão para acessar esta página. Entre em contato com um administrador do sistema;</p>
                <button class="mt-3 btn btn-link" ng-click="navigateToHome()">Voltar ao ínicio</button>
            </div>
        </div>
    </div>
</div>
