<div class="container">
    <div ng-show="!error" class="shadow-1 card-form">
        <!-- Abas nav -->
        <ul class="nav nav-pills nav-fill text-white mt-4 p-0" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="basico-tab" data-toggle="tab" href="#basico" role="tab" aria-controls="basico" aria-selected="true">Descrição</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="parametro-tab" data-toggle="tab" href="#parametros" role="tab" aria-controls="parametros" aria-selected="false">Parâmetros</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="eventos-tab" data-toggle="tab" href="#eventos" role="tab" aria-controls="eventos" aria-selected="false">Eventos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="metodos-tab" data-toggle="tab" href="#metodos" role="tab" aria-controls="metodos" aria-selected="false">Métodos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="historico-tab" data-toggle="tab" href="#historico" role="tab" aria-controls="historico" aria-selected="false">Histórico</a>
            </li>
        </ul>
        <div class="card p-0 mb-4">
            <div class="card-body">
                <!-- Painel de abas -->
                <div class="tab-content">
                    <div class="tab-pane active" id="basico" role="tabpanel">
                        <div ng-include="'/modules/visitante/componente/view/componente.descricao.html'"></div>
                    </div>
                    <div class="tab-pane" id="parametros" role="tabpanel">
                        <div ng-include="'/modules/visitante/componente/view/componente.parametros.html'"></div>
                    </div>
                    <div class="tab-pane" id="eventos" role="tabpanel">
                        <div ng-include="'/modules/visitante/componente/view/componente.eventos.html'"></div>
                    </div>
                    <div class="tab-pane" id="metodos" role="tabpanel">
                        <div ng-include="'/modules/visitante/componente/view/componente.metodos.html'"></div>
                    </div>
                    <div class="tab-pane" id="historico" role="tabpanel">
                        <div ng-include="'/modules/administrativo/componente/view/historico/componente.historico.view.html'" ng-controller="historicoViewController"></div>
                    </div>
                </div>
            </div>
        </div>


        <div class="form-row float-right">
            <div class="col-sm-12">

                <button type="button" class="btn btn-outline-secondary" ng-click="voltar()">
                    <i class="far fa-arrow-alt-circle-left"></i> Voltar
                </button>

            </div>
        </div>

    </div>





    <div ng-show="error" class="jumbotron w-100 mt-3">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="text-secondary mb-3"><i class="fas fa-exclamation-triangle"></i></h1>
                <h3> Ops! algo deu errado.</h3>
                <p class="text-secondary">O componente não existe ou está indisponível.</p>
            </div>
        </div>

    </div>
</div>


